body {
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.frist-block {
    top: 0;
    padding: 20px 5%;
}

.main {
    position: absolute;
    margin: 30px;
    display: inline-block;
    height: 500px;
}

.image {
    position: relative;
    display: inline-block;
    width: 800px;
    height: 500px;
}

button a {
    text-decoration: none;
}

.inputData {
    position: re;
    display: inline-block;
    vertical-align: center;
    justify-items: center;
    padding: 20px 20px;
    width: 300px;
}

.form input {
    height: 50px;
    padding: 20px;
    font-size: 15px;
}